body {
    padding: 10px;
}
h2 {
    color   : rgb(0, 0, 0);
}
h1 {
    color   : rgb(9, 65, 144);
}
h6 {
    color   : rgb(29, 7, 138);
}
h4 {
    color   : rgb(9, 65, 144);
}
.nav-link {
    color: rgb(29, 7, 138);
    font-weight: bold;
}

p {
    font-style: inherit;
}
.active_listings{
    background-color: rgb(9, 65, 144);
    padding: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 15px; 
    
}
.active_listings a {
    color:rgb(4, 0, 0);
    
}
.active_listings:hover{
    background-color: rgb(11, 78, 173);
    border-radius: 10px; 
    padding: 20px;
}
body{
    background-color: #090714;
}
.parentContainer {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 10px;

}
@media (max-width: 905px) {
    .parentContainer {
      grid-template-columns: auto auto auto;
    }
  }
@media (max-width: 605px) {
    .parentContainer {
      grid-template-columns: auto auto;
    }
  }
@media (max-width: 305px) {
.parentContainer {
    grid-template-columns: auto;
}
}