body {
    padding: 10px;
}
h2 {
    color   : black;
}
h1 {
    color   : rgb(186, 58, 58);
}
h6 {
    color   : black;
}
.nav-link {
    color: black;
    font-weight: bold;
}
.nav-link :hover {
    color:#ff9195
}
#pretty_boxes {
    color : rgb(225, 4, 4);
    border: 8px rgba(202, 8, 8, 0.922);
    border-radius: 5%;
    padding: 2.5%;

}
p {
    font-style: inherit;
}
#active_listings{
    background-color: #cb1010;
    padding: 8px;
    margin-bottom: 10px;
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    border-radius: 2%;
    margin-left: 5px;
    
}
#active_listings a {
    color:rgb(4, 0, 0)
    
}
#active_listings:hover{
    background-color: #a10c0c;
}
body{
    background-color: #222222;
}