body {
    padding: 10px;
}
h2 {
    color   : rgb(0, 0, 0);
}
h1 {
    color   : rgb(29, 7, 138);
}
h6 {
    color   : rgb(29, 7, 138);
}
.nav-link {
    color: rgb(29, 7, 138);
    font-weight: bold;
}

p {
    font-style: inherit;
}
.active_listings{
    background-color: rgb(29, 7, 138);
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
#active_listings a {
    color:rgb(4, 0, 0)
    
}
#active_listings:hover{
    background-color: rgb(37, 10, 174);
}
body{
    background-color: #090714;
}
#id_comment{
    color: rgb(12, 79, 172);;
}
