{% extends "auctions/layout.html" %}
{% load static %}
{% load templatetags %}
{% block body %}
    <h1>Games: </h1>
	<div class = parentContainer>
		{% for listing in Listings %}
			<div class = active_listings>
				<a href="{% url 'listing' listing.id %}">
				<h2>{{ listing.title }}</h2>
				<img src="{{ listing.image.url }}" style="max-width: 300px; max-height: 300px;">
			</div>
		{% endfor %}
	</div>
	<video width="320" height="240" controls>
		<source src="{% static 'auctions/myvideo.mp4' %}" type="video/mp4">
	</video>
{% endblock %}